{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block main %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
            403 Page <small>403 page</small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Home</a> 
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">403 Page</a></li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 page-404">
            <div class="number">
                403
            </div>
            <div class="details">
                <h3>Error 403</h3>
                <p>
                    You don't have permission to access to this resource.
                </p>
                <p>
                    Ask your manager or system administrator to grant you
                    access to this resource.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}






