{% extends "::base.html.twig" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block body_id 'login' %}
    
{% block body %}
    <div class="logo">IND<span style="color:red">i</span>GENT - <span style="font-size:13px">krlm</span></div>
    <div class="content">
    {{ block('fos_user_content') }}
    </div>
{% endblock %}